    
<h3> Look at this user </h3>
<% if @user != nil %>
  Name: <%= @user.username %> <br><br>
  Submissions:
  <ul>
  <% @user.malwares.each do |mal| %>
    <li><%= mal.name %> <a href="<%=mal.link%>" >Link</a></li>
  <% end %>
<% else %>
 <h2> User not found </h2>
<% end %>
