<h1> Edit A Virus </h1>
<% if !!session["user_id"] && @virus != nil && @virus.user_id == session[:user_id] %>
  <%= @error %>
  Current virus name:
  <p> <%= @virus.name %> </p>
   Current virus link:
  <p> <%= @virus.link %> </p>
  <br><br>
  new tweet content:
  <form action= <%= "/#{@virus.id}" %> method="post">
    new name: <input type="text" name="name"  ><br>
    new link: <input type="text" name="link" ><br>
    <input type="submit">
  </form>

<% elsif @virus == nil %>
    <h3> Virus not found </h3>
<% else %>
    <h3> This is not your virus </h3>
<% end %>