
    <h1>Malware.com</h1>
	<ul>
		<% @malware.each do |mal| %>
			<li>
				<%= mal.name %> <a href="<%=mal.link%>" >Link</a> -by 
				<a href='users/<%=mal.user.id%>'>
				<%= mal.user.username %>
				</a>
			</li>
		<% end %>	
	</ul>