<!doctype html>
<html>
  <head>
    <title>Malware.com</title>
  </head>
  <body>
  <ul>
  <li>  <a href='/' >Home</a>   </li>
	  <% if !!session["user_id"] %>
		  <li>  <a href='/logout' >Logout</a>   </li>
		  <li>  <a href='/users/<%=session["user_id"]%>' >Profile</a>   </li>
		  </ul>
	<% else %>
		  <a href="/login" >
			Log In
		  </a>
		  <br>
		  <a href="/signup"  >
			Sign up for free
		  </a>
  <% end %>
  
  <%= yield %>

  </body>
</html>