<% !!session["user_id"] %>
<%= @error %>
  <form action='/malwares' method="post">
    Name:
    <input type="text" name="name"><br>
    Link:
	<input type="text" name="link"><br>
	Create Your Virus:
    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Malware </h1>
  <% end %>